<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#F38958"/>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/css/vendor/termynal.css' | relative_url }}" media="screen"/>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}" />
    <link rel="icon" href="{{ site.media_url | relative_url }}/logo.png" />

    <!-- WebUI popover css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css" media="screen">
    <link rel="stylesheet" href="https://anijs.github.io/lib/anicollection/anicollection.css" media="screen">
    <script>
        var baseUrl = "{{ site.baseurl }}";
    </script>
</head>
<body>
<div class="body-wrapper">

<header class="site-header">

    <nav id="global-nav">

        <div class="container-fluid">
            {% if page.layout == 'home' %}

            <h1><a class="logo" href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}"><span class="icon-logo"></span><span>PIMGento</span></a></h1>

            {% else %}

            <a class="logo" href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}"><span class="icon-logo"></span><span>PIMGento</span></a>

            {% endif %}

            <span class="for">For</span>

            {% include version-switcher.html %}

            <div class="navigation">
                {% include navigation.html %}
            </div>

            <div class="btn-navigation">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

        </div>

    </nav><!-- #global-nav -->

</header>

<div id="gl-wrapper">

    <!-- .main-container -->
    <div class="main-container">
        <a id="main-content"></a>
