<ul class="main-nav">
    <li><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/" class="nav-link{% if page.page_name == 'home' %} active{% endif %}">Home</a></li>
    <!--<li><a href="" class="nav-link{% if page.page_name == 'features' %} active{% endif %}">Features</a></li>-->
    <li><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/important-stuff/how_to" class="nav-link{% if page.page_name == 'documentation' %} active{% endif %}">Documentation</a></li>
    <li><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/important-stuff/roadmap" class="nav-link{% if page.page_name == 'roadmap' %} active{% endif %}">Roadmap</a></li>
    <li><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/about" class="nav-link{% if page.page_name == 'about' %} active{% endif %}">About</a></li>
</ul>