<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    {% if page.version == 'v2.0' %}
    <div id="search-container">
        <div class="input-wrapper">
            <input type="text" id="search-input" placeholder="Search...">
        </div>
    </div>
    {% endif %}
    <div class="buttons">
        <a href="#" class="toggle-sidebar btn tertiary"><span>Table of contents</span><span class="icon-dropdown"></span></a>
    </div>
    <div class="sidebar-wrapper">
        {% if page.version == 'v1.0' %}
            {% for entry in site.data.menu %}
            <h3>{{ entry.title }}</h3>
            <ul>
                {% for item in entry.items %}
                <li class="sidebar-link{% if item.href == page.github_link %} active{% endif %}"><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/{{ item.href }}" class="nav-link">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% elsif page.version == 'v2.0' %}
            {% for entry in site.data.menu_v2 %}
            <h3>{{ entry.title }}</h3>
            <ul>
                {% for item in entry.items %}
                <li class="sidebar-link{% if item.href == page.github_link %} active{% endif %}"><a href="{{ site.baseurl }}{{ site.doc_url }}{{ page.version }}/{{ item.href }}" class="nav-link">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: 'e051987f43ebeb976956443b2381c2dd',
    indexName: 'pimgento',
    inputSelector: '#search-input',
    debug: true,
    customRanking: [
        'desc(selectors)'
    ]
});
</script>