.main-container {
    .home {
        overflow: hidden;

        h2 {
            font-size: 36px;
            font-family: $primary-font;
            text-transform: none;

            &.title {
                color: $c-blue-dark;
                padding: 0 0 30px;
                margin: 0 0 30px;
                position: relative;
                text-align: center;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background: $c-purple;
                    height: 2px;
                    width: 40px;
                }
            }
        }

        section {
            &:first-child {
                color: $c-white;
                padding: 127px 0 50px;
                background: #FFF url(../common/img/bg.svg) no-repeat;
                background-size: 100% 100%;

                h2 {
                    margin: 0 0 20px;
                    font-size: 30px;
                    text-align: left;
                }

                p {
                    margin: 0 0 40px;
                }

                .buttons {
                    font-size: 0;
                    margin: 0 -10px;

                    .btn {
                        margin: 0 10px;
                    }
                }
            }

            &:nth-child(3) {
                background: $c-grey;
                padding-top: 0;
                margin: 40px 0 0;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: -100px;
                    top: -85px;
                    left: -100px;
                    height: 200px;
                    margin: auto;
                    background: $c-grey;
                    -ms-transform: rotate(-5deg);
                    -webkit-transform: rotate(-5deg);
                    transform: rotate(-5deg);
                    z-index: 0;
                }

                [class*="col"] {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }

                .buttons {
                    margin: 30px 0 0;
                    text-align: center;

                    [class*="icon"] {
                        margin: 0 10px 0 0;
                    }
                }
            }

            #import-type {
                text-align: right;

                ul {
                    li {
                        &.active,
                        &:hover {
                            background: $c-active-link;
                        }

                        [class*="icon"] {
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }

            #file-to-import {
                text-align: left;

                ul {
                    li {
                        &.active,
                        &:hover {
                            background: $c-purple-light;
                        }

                        [class*="icon"] {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }

            #import-type,
            #file-to-import {
                .subtitle {
                    font-size: 18px;
                    font-family: $primary-font_bold;
                    text-transform: uppercase;
                }

                ul {
                    padding: 0;
                    list-style-type: none;

                    li {
                        line-height: 14px;
                        cursor: pointer;
                        padding: 18px 0;
                        transition: all $transition-duration $transition-timing-function;

                        span {
                            color: $c-black-light;
                            font-size: 14px;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                            -khtml-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                        }

                        &.active,
                        &:hover {
                            border-radius: $button-border-radius;
                            box-shadow: $button-box-shadow;
                            padding: 18px 20px;

                            span {
                                color: $c-white;
                            }
                        }
                    }
                }
            }

            #pimgento-import {
                height: 390px;
                width: 100% !important;
                max-width: 521px;
                margin: 0 auto;
                border-radius: 6px;
                padding: 50px 20px 35px;
                background: $c-black-1;
                font-size: 14px;

                &[data-termynal] {
                    &:before {
                        width: 9px;
                        height: 9px;
                        top: 10px;
                        left: 9px;
                        -webkit-box-shadow: 15px 0 0 #f4c025, 30px 0 0 #3ec930;
                        box-shadow: 15px 0 0 #f4c025, 30px 0 0 #3ec930;
                        z-index: 2;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 28px;
                        background: #FFFEFF;
                        border-radius: 6px 6px 0 0;
                        border: 1px solid $c-black-lighten;
                    }

                    span {
                        color: $c-white-1;

                        &[data-ty="progress"] {
                            color: $c-white-light-1;
                            word-break: break-all;
                        }
                    }
                }
            }

            &:nth-child(4) {
                background: $c-grey;
            }

            &:nth-child(5) {
                background: $c-white;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: -100px;
                    top: -85px;
                    left: -100px;
                    height: 200px;
                    margin: auto;
                    background: $c-white;
                    -ms-transform: rotate(5deg);
                    -webkit-transform: rotate(5deg);
                    transform: rotate(5deg);
                    z-index: 0;
                }

                h4 {
                    color: $c-orange;
                    font-size: 36px;
                }

                p {
                    color: $c-black-lighten;
                    font-size: 36px;
                    line-height: 49px;
                }

                .buttons {
                    .btn {
                        float: right;
                        clear: right;

                        &:first-child {
                            margin: 0 0 20px;
                        }
                    }
                }
            }

            .our-clients-block {
                background: $c-white;
                box-shadow: $button-box-shadow;
                padding: 65px 110px;
                position: relative;
                z-index: 3;

                [class*="col"] {
                    text-align: center;

                    img {
                        max-height: 25px;
                    }
                }
            }

            .row {
                [class*="col"] {
                    margin: 0 auto;
                }
            }

            .item {
                margin: 0 0 40px;

                &:after {
                    content: '';
                    clear: both;
                    display: block;
                }

                .item-img {
                    width: 25%;
                    text-align: center;
                    float: left;

                    img {
                        max-width: 80px;
                    }
                }

                .item-content {
                    width: 75%;
                    float: left;
                    padding: 0 0 0 20px;
                }

                .item-title {
                    font-size: 16px;
                    line-height: 25px;
                    font-family: $primary-font_bold;
                    text-transform: uppercase;
                    color: $c-blue-dark;
                }

                p {
                    color: $c-black-light;
                    font-size: 14px;
                }
            }
        }
    }
}