body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h4,
p,
li,
a {
    font-family: $primary-font;
}

h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

h2,
h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-family: $primary-font_bold;
}